<html>
<head>
    <title>#fm image hosting</title>
</head>
<body>
<center>
    <h1><blink>UPLOAD NAO!</blink></h1>
</center>
<center>
    <form method="post" enctype="multipart/form-data" action="/">
        <input type="file" name="infile" /><br>
        <input type="submit" name="submit" value="Upload" /><br>
    </form>
    <img src="http://fettemama.org:6503/logo.png" />
	</center>
		<p style='background-color: black; color:green;'>l33t command line fu:<br>
			<pre>
				curl -F "infile=@your_fucking.png;type=image/png" -F "submit=Upload" -vvv http://fettemama.org:6502/
			</pre>
			Just follow the location header :3
		</p>
</body>
</html>

